table {
    border: 1px solid;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

td,th {
    border: 1px solid black;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    width: 25%;
    margin: auto;
}
