<h2>Status</h2>
<div class="information">
    <tr>
        <td><b>Currnet Time</b></td>
        <td><div class="dot">::</div></td>
        <td>{{CurrentTime}}</td>
      </tr>
      <tr>
        <td><b>User Agent</b></td>
        <td><div class="dot">::</div></td>
        <td>{{UserAgent}}</td>
      </tr>
      <tr>
        <td><b>Languages</b></td>
        <td><div class="dot">::</div></td>
        <td>{{Languages}}</td>
      </tr>
      <tr>
        <td><b>Is Cookie Enagled?</b></td>
        <td><div class="dot">::</div></td>
        <td>{{Cookie}}</td>
      </tr>
      <tr>
        <td><b>Logical Processors</b></td>
        <td><div class="dot">::</div></td>
        <td>{{LogicalProcessors}}</td>
      </tr>
      <tr>
        <td><b>Max Touch Points</b></td>
        <td><div class="dot">::</div></td>
        <td>{{MaxTouch}}</td>
      </tr>
</div>

